<div class="container">
	<div data-ng-controller="MainController as vm"
		class="jumbotron">
		<h1>ConwayJS <i class="fa fa-delicious"></i></h1>
		<p>Implementation of Conway's Game of Life</p>
		<div class="row">
			<div class="col-md-6">
				<p>You Can Modify This Grid</p>
				<table data-ng-init="customArr = vm.arr">
					<tbody class="conway-grid">
						<tr data-ng-repeat="customRow in customArr">
							<td data-ng-repeat="customSquare in customRow track by $index">
								<button 
									class="conway-square conway-square-btn" 
									data-ng-class="customSquare ? 'conway-alive' : 'conway-dead'"
									data-uib-btn-checkbox 
									data-ng-model="customArr[$parent.$index][$index]"
									data-btn-checkbox-true="1"
									data-btn-checkbox-false="0">
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<button data-ng-click="vm.modifyGrid(customArr)" class="btn btn-success">Modify Grid!</button>
			</div>
			<div class="col-md-6">
				<p>And See the Results!</p>
				<table>
					<tbody class="conway-grid">
						<tr data-ng-repeat="row in vm.arr">
							<td data-ng-repeat="square in row track by $index" class="conway-square" data-ng-class="square ? 'conway-alive' : 'conway-dead' "></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>