.conway-grid {
	border: 1px solid #9999ff;
}

.conway-square {
	border: 1px solid #9999ff;
	height:30px;
	width:30px;
}

.conway-square-btn {
}

.conway-alive {
	background-color:black;
}

.conway-dead {
	background-color:white;
}